.outsideAiContainer {
  background-color: white;
  width: 70%;
  height: 900px;
  display: flex;
  position: absolute;
  right: 15%;
  top: 10.4%;
}

.interviewWrapper {
  background-color: white;
  display: flex;
  position: absolute;
  width: 85%;
  height: 90%;
  right: 7.5%;
  top: 5%;
}

.jobTitleInput {
  display: flex;
  position: absolute;
  width: 75%;
  height: 8%;
  right: 11%;
  top: 5%;
  border: #CDC9C8 solid 1px;
}

.jobTitleInput::placeholder {
}

.mainChatContainer {
  display: flex;
  position: absolute;
  top: 15%;
  right: 11%;
  width: 75%;
  height: 60%;
  border: #CDC9C8 solid 1px;
}

.chatBox {
  display: flex;
  position: absolute;
  top: 77%;
  right: 11%;
  width: 75%;
  height: 8%;
  border: #CDC9C8 solid 1px;
}

.submitButton {
  display: flex;
  position: absolute;
  width: 16%;
  height: 6%;
  top: 86%;
  right: 11%;
  border-radius: 10px 10px 10px 10px;
  font-size: 17px;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: #33B221;
  border: #CDC9C8 solid 1px;
}
