.MainDiv {
  background-color: white;
  display: flex;
  position: relative; /* Prevents overlapping issues */
  top: 5%;
  width: 70%;
  height: 10%;
  left: 50%;
  transform: translateX(-50%); /* Ensures true centering */
  align-items: center;
}

a {
  text-decoration: none;
}

.logo {
  position: relative; /* Keeps it properly inside navbar */
  height: 85px;
  width: 300px;
  margin-left: 20px;
}

.navlinks {
  margin-top: 110px; /* Adjust spacing above nav links */
  display: flex;
  justify-content: space-around; /* Even spacing */
  align-items: center;
  width: 100%;
  padding: 0 20px; /* Consistent spacing */
}

.contact {
  color: #304149;
  font-size: 15px;
  position: absolute;
  right: 10%;
  top: 40%;
}

.findus {
  color: #304149;
  font-size: 15px;
  position: absolute;
  right: 4%;
  top: 40%;
}

.or {
  font-style: italic;
  color: #304149;
  font-size: 13px;
  position: absolute;
  right: 23.5%;
  top: 57%;
}

.register {
  color: #0073cf;
  font-size: 15px;
  position: absolute;
  right: 19%;
  top: 56%;
  text-decoration: none;
}

.login {
  color: #0073cf;
  font-size: 15px;
  position: absolute;
  right: 25%;
  top: 56%;
  text-decoration: none;
  
}

@media only screen and (max-width: 1602px) {
  .logo {
    height: 65px;
    width: 240px;
  }

  .contact,
  .findus {
    font-size: 90%;
    margin-top: 5%;
    text-decoration: none;
  }

  .login,
  .register {
    font-size: 80%;
    text-decoration: none;
  }
}

@media only screen and (max-width: 1207px) {
  .logo {
    height: 55px;
    width: 220px;
  }

  .contact,
  .findus {
    font-size: 80%;
    text-decoration: none;
  }

  .login,
  .register {
    font-size: 70%;
    text-decoration: none;
  }
  
  .or {
    font-size: 60%;
  }
}

@media only screen and (max-width: 1040px) {
  .contact,
  .findus {
    font-size: 70%;
    margin-top: 10%;
  }

  .login,
  .register {
    font-size: 60%;
  }
  .or {
    font-size: 50%;
  }
}

/* Make a hamburger menu */
@media only screen and (max-width: 1040px) {
}
