.backContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures content fills the page */
  }
  
  .mainContent {
    display: flex;
    justify-content: center; /* Centers content */
    align-items: center;
    min-height: 80vh; /* Pushes the footer down */
  }
  