/* App.module.css */
.backContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f3f4f6; /* Turners light grey */
    font-family: Arial, sans-serif;
  }
  